In [168]:
import pandas as pd
import os
from dotenv import load_dotenv
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
from dateutil import parser
from datetime import datetime

In [161]:
API_KEY = os.getenv(key='API_KEY')

In [162]:
df = pd.read_csv('archive/steam-games.csv')
df.head(1)

,app_id,title,release_date,genres,categories,developer,publisher,original_price,discount_percentage,discounted_price,dlc_available,age_rating,content_descriptor,about_description,win_support,mac_support,linux_support,awards,overall_review,overall_review_%,overall_review_count,recent_review,recent_review_%,recent_review_count
0,730,Counter-Strike 2,"21 Aug, 2012","Action, Free to Play","Cross-Platform Multiplayer, Steam Trading Card...",Valve,Valve,NaN,NaN,Free,1,0,NaN,"For over two decades, Counter-Strike has offer...",True,False,True,1,Very Positive,87.0,8062218.0,Mostly Positive,79.0,57466.0

In [163]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42497 entries, 0 to 42496
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   app_id                42497 non-null  int64
 1   title                 42497 non-null  object
 2   release_date          42440 non-null  object
 3   genres                42410 non-null  object
 4   categories            42452 non-null  object
 5   developer             42307 non-null  object
 6   publisher             42286 non-null  object
 7   original_price        4859 non-null   object
 8   discount_percentage   4859 non-null   object
 9   discounted_price      42257 non-null  object
 10  dlc_available         42497 non-null  int64
 11  age_rating            42497 non-null  int64
 12  content_descriptor    2375 non-null   object
 13  about_description     42359 non-null  object
 14  win_support           42497 non-null  bool
 15  mac_support           42497 non-null  bool
 16  linux_support         42497 non-null  bool
 17  awards                42497 non-null  int64
 18  overall_review        40020 non-null  object
 19  overall_review_%      40020 non-null  float64
 20  overall_review_count  40020 non-null  float64
 21  recent_review         5503 non-null   object
 22  recent_review_%       5503 non-null   float64
 23  recent_review_count   5503 non-null   float64
dtypes: bool(3), float64(4), int64(4), object(13)
memory usage: 6.9+ MB
None

In [164]:
df.describe()

,app_id,dlc_available,age_rating,awards,overall_review_%,overall_review_count,recent_review_%,recent_review_count
count,4.249700e+04,42497.000000,42497.000000,42497.000000,40020.000000,4.002000e+04,5503.000000,5503.000000
mean,1.245812e+06,0.722004,0.055886,0.309528,77.162569,2.500621e+03,82.303107,282.100491
std,7.553906e+05,4.673810,0.229705,1.264100,17.672036,4.887980e+04,15.110260,4583.606042
min,1.000000e+01,0.000000,0.000000,0.000000,0.000000,1.000000e+01,6.000000,10.000000
25%,5.892200e+05,0.000000,0.000000,0.000000,68.000000,2.100000e+01,75.000000,16.000000
50%,1.144860e+06,0.000000,0.000000,0.000000,81.000000,5.900000e+01,86.000000,34.000000
75%,1.822640e+06,0.000000,0.000000,0.000000,91.000000,2.820000e+02,93.000000,102.000000
max,3.008050e+06,200.000000,1.000000,41.000000,100.000000,8.062218e+06,100.000000,328633.000000

In [165]:
df.isnull().sum()

app_id                      0
title                       0
release_date               57
genres                     87
categories                 45
developer                 190
publisher                 211
original_price          37638
discount_percentage     37638
discounted_price          240
dlc_available               0
age_rating                  0
content_descriptor      40122
about_description         138
win_support                 0
mac_support                 0
linux_support               0
awards                      0
overall_review           2477
overall_review_%         2477
overall_review_count     2477
recent_review           36994
recent_review_%         36994
recent_review_count     36994
dtype: int64

In [145]:
df.columns

Index(['app_id', 'title', 'release_date', 'genres', 'categories', 'developer',
       'publisher', 'original_price', 'discount_percentage',
       'discounted_price', 'dlc_available', 'age_rating', 'content_descriptor',
       'about_description', 'win_support', 'mac_support', 'linux_support',
       'awards', 'overall_review', 'overall_review_%', 'overall_review_count',
       'recent_review', 'recent_review_%', 'recent_review_count'],
      dtype='object')

In [175]:
release_dates = df[['title', 'release_date']].dropna()

In [169]:
def convert_date(df):
    try:
        return pd.to_datetime(parser.parse(df))
    except:
        return pd.NaT 

release_dates['release_date'] = release_dates['release_date'].apply(convert_date).dropna()

In [170]:
release_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42440 entries, 0 to 42496
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         42440 non-null  object
 1   release_date  42438 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 994.7+ KB

In [174]:
print(release_dates['release_date'].min())
print(release_dates['release_date'].max())

1997-06-30 00:00:00
2024-09-09 00:00:00

### **Quais são os gêneros de jogos mais populares na plataforma?**
- *identificar quais gêneros têm o maior número de jogos, maior número de vendas e melhores avaliações para orientar desenvolvedores sobre tendências de mercado.*

In [22]:
df_1 = df[['app_id', 'title', 'release_date', 'genres', 'categories', 'developer',
       'publisher', 'awards', 'overall_review', 'overall_review_%', 
        'overall_review_count']]
df_1.head(3)

,app_id,title,release_date,genres,categories,developer,publisher,awards,overall_review,overall_review_%,overall_review_count
0,730,Counter-Strike 2,"21 Aug, 2012","Action, Free to Play","Cross-Platform Multiplayer, Steam Trading Card...",Valve,Valve,1,Very Positive,87.0,8062218.0
1,570,Dota 2,"9 Jul, 2013","Action, Strategy, Free to Play","Steam Trading Cards, Steam Workshop, SteamVR C...",Valve,Valve,0,Very Positive,81.0,2243112.0
2,2215430,Ghost of Tsushima DIRECTOR'S CUT,"16 May, 2024","Action, Adventure","Single-player, Online Co-op, Steam Achievement...",Sucker Punch Productions,PlayStation PC LLC,0,Very Positive,89.0,12294.0

In [8]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42497 entries, 0 to 42496
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   app_id                42497 non-null  int64
 1   title                 42497 non-null  object
 2   release_date          42440 non-null  object
 3   genres                42410 non-null  object
 4   categories            42452 non-null  object
 5   developer             42307 non-null  object
 6   publisher             42286 non-null  object
 7   awards                42497 non-null  int64
 8   overall_review        40020 non-null  object
 9   overall_review_%      40020 non-null  float64
 10  overall_review_count  40020 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 3.6+ MB

In [14]:
df_1.isnull().sum()

app_id                     0
title                      0
release_date              57
genres                    87
categories                45
developer                190
publisher                211
awards                     0
overall_review          2477
overall_review_%        2477
overall_review_count    2477
dtype: int64

In [16]:
df_1 = df_1.dropna()

In [17]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39853 entries, 0 to 42248
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   app_id                39853 non-null  int64
 1   title                 39853 non-null  object
 2   release_date          39853 non-null  object
 3   genres                39853 non-null  object
 4   categories            39853 non-null  object
 5   developer             39853 non-null  object
 6   publisher             39853 non-null  object
 7   awards                39853 non-null  int64
 8   overall_review        39853 non-null  object
 9   overall_review_%      39853 non-null  float64
 10  overall_review_count  39853 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 3.6+ MB

In [18]:
df_1[['overall_review', 'overall_review_%', 
        'overall_review_count']]

                overall_review  overall_review_%  overall_review_count
0                Very Positive              87.0             8062218.0
1                Very Positive              81.0             2243112.0
2                Very Positive              89.0               12294.0
3                Very Positive              93.0              605191.0
4                Very Positive              80.0              594713.0
...                        ...               ...                   ...
40950            Very Negative              14.0                  57.0
40968            Very Negative              14.0                  54.0
41427  Overwhelmingly Negative              17.0                3299.0
42247            Very Negative              18.0                 127.0
42248            Very Negative              15.0                  51.0

[39853 rows x 3 columns]

In [5]:
def _chat(df_path):
    openai_api_key = API_KEY
    df = df_path
    llm = ChatOpenAI(model = "gpt-3.5-turbo", openai_api_key=openai_api_key)
    agent_prefix = "O df importado é\n"

    agent = create_pandas_dataframe_agent(
        llm,
        df,
        prefix=agent_prefix,
        verbose  = True,
        agent_type = AgentType.OPENAI_FUNCTIONS,
    )

    while True:
        prompt = input("Digite o prompt ou 'sair\n'")
        if prompt.lower() == 'sair':
            print("finalizando...")
            break
        response = agent.invoke(prompt)

In [7]:
_chat(df)

Digite o prompt ou 'sair
' DESCRIBE

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': 'df.describe()'}`


             app_id  dlc_available    age_rating        awards  \
count  4.249700e+04   42497.000000  42497.000000  42497.000000
mean   1.245812e+06       0.722004      0.055886      0.309528
std    7.553906e+05       4.673810      0.229705      1.264100
min    1.000000e+01       0.000000      0.000000      0.000000
25%    5.892200e+05       0.000000      0.000000      0.000000
50%    1.144860e+06       0.000000      0.000000      0.000000
75%    1.822640e+06       0.000000      0.000000      0.000000
max    3.008050e+06     200.000000      1.000000     41.000000

       overall_review_%  overall_review_count  recent_review_%  \
count      40020.000000          4.002000e+04      5503.000000
mean          77.162569          2.500621e+03        82.303107
std           17.672036          4.887980e+04        15.110260
min            0.000000          1.000000e+01         6.000000
25%           68.000000          2.100000e+01        75.000000
50%           81.000000          5.900000e+01        86.000000
75%           91.000000          2.820000e+02        93.000000
max          100.000000          8.062218e+06       100.000000

       recent_review_count
count          5503.000000
mean            282.100491
std            4583.606042
min              10.000000
25%              16.000000
50%              34.000000
75%             102.000000
max          328633.000000  Aqui estão algumas estatísticas descritivas para algumas colunas do conjunto de dados:

- Número de registros (count):
    - app_id: 42497
    - dlc_available: 42497
    - age_rating: 42497
    - awards: 42497
    - overall_review_%: 40020
    - overall_review_count: 40020
    - recent_review_%: 5503
    - recent_review_count: 5503

- Médias:
    - dlc_available: 0.722004
    - age_rating: 0.055886
    - awards: 0.309528
    - overall_review_%: 77.162569
    - overall_review_count: 2500.621
    - recent_review_%: 82.303107
    - recent_review_count: 282.100491

- Desvios padrão:
    - dlc_available: 4.673810
    - age_rating: 0.229705
    - awards: 1.264100
    - overall_review_%: 17.672036
    - overall_review_count: 48879.980
    - recent_review_%: 15.110260
    - recent_review_count: 4583.606042

Essas são algumas das estatísticas descritivas disponíveis para o conjunto de dados.

> Finished chain.

Digite o prompt ou 'sair
' sair

finalizando...